body {
    --color-2b273e: #2b273e;
    --color-49455b: #49455b;
    --color-db5807: #db5807;
    --color-febd69: #febd69;
}

.cart-page .table-container {
    overflow-x: auto;
}

.cart-page .table-container table {
    min-width: 520px;
}

.cart-page table thead th {
    background-color: rgb(5 72 25 / 52%);
    padding: 15px 7px;
}

.cart-page table .product-img {
    max-width: 80px;
}

.cart-page table input[type="number"] {
    width: 45px;
    height: 35px;
    text-align: center;
}

.cart-page table .delete-btn {
    cursor: pointer;
}

.cart-page .coupon-btn {
    background-color: rgb(5 72 25 / 52%);
    padding: 10px;
    border-radius: 0 5px 5px 0;
    margin-top: -5px;
}

.cart-page .coupon-btn:focus {
    background-color: #febd69;
}

.cart-page .coupon-input {
    border: 1px solid #cabebe;
    padding: 10px;
    outline: none;
    width: 170px;
    margin-bottom: 20px;
}

.cart-page .checkout-btn {
    background-color: rgb(5 72 25 / 52%);
}

.cart-page .checkout-btn:focus {
    background-color: #febd69;
}

.title {
    text-decoration: none;
    margin: 0 !important;
}

.title .code {
    opacity: .5;
}
.price,
.total-price {
    line-height: 4;
    font-weight: bold;
}
.qty {
    line-height: 4;
}
.qty-input {
    outline: none;
    border: .5px solid grey;
}